<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="portal-side-menu-top-toolbar">
    <mat-toolbar-row fxLayout="row">
      <img class="portal-toolbar-brand" src="assets/images/oxygenna.png" alt="Portal">
      <span class="portal-toolbar-brand-text" i18n>Portal</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="portal-sidnav-menu portal-hide-scrollbars" fxFlex="nogrow noshrink">

    <!-- home & dashboard menu -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>home</mat-icon>
          <h3>Dashboards</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboards/analytics" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>insert_chart</mat-icon>
          <h3 matLine>Analytics</h3>
          <strong class="portal-sidnav-menu__end_detail">4</strong>
        </a>
        <a mat-list-item routerLink="/dashboards/site-management" routerLinkActive="portal-menu--active">
          <mat-icon matListIcon>shopping_cart</mat-icon>
          <h3 matLine>Detection Demo</h3>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

   
</div>
